<footer class="footer">
    <div class="footer__box">
        <p class="footer__paragraph">Strona została stworzona przy pomocy Node.js, Express.js, handlebars i preprocesora
            SASS(SCSS).</p>
        <p class="footer__paragraph">Jeżeli podoba Ci się wykonanie i masz ciekawą ofertę pracy, nie wahaj się napisać:
            <a href="mailto:edwin.harmata@gmail.com">edwin.harmata@gmail.com</a></p>
        <p class="footer__paragraph"><a href="https://linkedin.com/in/edwin-harmata/">Edwin Harmata 2020. Wszelkie prawa
                zastrzeżone.</a></p>
    </div>
</footer>
</body>

</html>