<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="author" content="Edwin Harmata">
    {{#if main}}
    <link rel="stylesheet" href="/css/main.css">
    {{/if}}
    {{#if oAplikacji}}
    <link rel="stylesheet" href="/css/o-aplikacji.css">
    {{/if}}
</head>

<body>