<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">
    <meta name="author" content="Edwin Harmata">
    {{#if main}}
    <link rel="stylesheet" href="/css/main.css">
    {{/if}}
    {{#if oAplikacji}}
    <link rel="stylesheet" href="/css/o-aplikacji.css">
    {{/if}}
</head>

<body>