@import "./variables.scss";

.section {
  position: relative;
  margin-bottom: $spacing-XL;
  &:after {
    position: absolute;
    bottom: -40px;
    content: "";
    width: 100vw;
    height: 2px;
    background-color: black;
    left: calc(calc(-100vw + 780px) / 2);
  }
  &:last-child:after {
    background-color: transparent;
  }
  &__head {
    margin: $spacing-lg 0;
  }
  &__title {
    font-size: $font-xl;
  }
}
.content {
  &__title {
    font-size: $font-lg;
    margin: $spacing-sm 0;
  }
  &__subtitle {
    margin-top: $spacing-md;
  }
  &__code {
    background-color: white;
    color: black;
    padding: $spacing-lg 0 $spacing-lg $spacing-sm;
    margin-bottom: $spacing-lg;
  }
  &__button {
    display: block;
    margin: $spacing-lg auto;
    padding: 10px 30px;
    background-color: $highlight-dark;
    color: $highlight-light;
    border-radius: $rounded-corner;
    border: none;
    text-align: center;
  }
  &__response {
    background-color: white;
    height: 200px;
    margin: $spacing-lg;
    padding: $spacing-md;
    color: $font-dark;
    overflow-y: auto;
  }
  label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: $spacing-lg;
  }
}
