$bg-light: #f8f8f8;
$bg-dark: #56565f;
$font-light: #f5f5f5;
$font-dark: #656569;
$highlight-light: #b1cedf;
$highlight-dark: #04050f;

// 1 rem = 10px!

$font-xxl: 3.2rem;
$font-xl: 2.8rem;
$font-lg: 2rem;
$font-md: 1.6rem;
$font-normal: 1.4rem;
$font-sm: 1.2rem;
$font-xs: 1rem;

// variables for margins and paddings

$spacing-xxl: 40px;
$spacing-xl: 30px;
$spacing-lg: 20px;
$spacing-md: 15px;
$spacing-sm: 10px;
$spacing-xs: 5px;

// wariables to boreder-radius

$rounded-corner: 5px;
$rounded: 50%;
